@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

thead {
    background: #5B8C9B;
}

input[type="submit"] {
    background-color: #5B8C9B;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

input[type="button"] {
    background-color: #5B8C9B;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

table {
    display: block;
}

.login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}

.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #5B8C9B;
}

.login-header {
    background: #5B8C9B;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-container {
    background: #ebebeb;
    padding: 12px;
}

.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login input[type="submit"] {
    background: #5B8C9B;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: #5B8C9B;
}

.login input[type="submit"]:focus {
    border-color: #87b9e6;
}